@import "player";
@import "autosuggest";

body{
  -webkit-user-select:none;
  user-select:none;
  overflow-y:scroll;
}

.form-group{
  label{
    width:100%;
  }
  textarea{
    height:75px;
  }
}

.list{
  float:left;
}

.image-preview-small{
  width:30px;
}

.breadcrumb{
  li:not(.active){
    color:#6859ff;
    cursor:pointer;
  }
}

.missing{
  -webkit-filter:grayscale(100%) brightness(60%);
  filter:grayscale(100%);
  pointer-events:none;
  cursor:default;
}

.list-item{
  margin:10px;
  width:125px;
  display:inline-block;
  overflow:hidden;

  &:hover img {
    transform:scale(1.2);
  }
  &:hover div {
    opacity: 0;
  }
  a {
    text-decoration:none;
  }

  $height: 30px;
  a > div{
    margin-top:-$height;
    height:$height;
    line-height: $height;
    width:100%;
    background:black;
    position:relative;
    opacity:0.8;
    color:white;
    padding:0 10px;
    white-space: nowrap;
    transition:opacity .5s;
  }

  img{
    width:125px;
    transition:transform .5s;
    backface-visibility:hidden;
  }

  p{
    word-wrap:break-word;
  }
}

.preview {
  height:70px;
  a > div{
    $height: 16px;
    margin-top:-$height;
    height:$height;
    line-height: $height;
    font-size: 12px;
  }
}