<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li class="active">Series</li>
      </ol>
    </div>
    <div class="col-sm-12 list">
      <div ng-repeat="(k, v) in home.series" class="list-item">
        <a ng-href="#/season/{{v.ID}}"><div>
          <img src="{{ v.PosterPath ? 'http://image.tmdb.org/t/p/w185/' + v.PosterPath : './assets/default_poster.jpg' }}">
          <!--p>{{ v.Name }}</p>-->
        </div></a>
      </div>
    </div>
  </div>
</div>