<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li ng-click="video.go('')">Series</li>
        <li ng-click="video.go('/season/' + video.episode.SerieID)">{{video.episode.SerieOriginalName}}</li>
        <li ng-click="video.go('/episode/' + video.episode.SeasonID)">{{video.episode.SeasonOriginalName || video.episode.Name}}</li>
        <li class="active">Episode {{video.episode.EpisodeNumber}}: {{video.episode.OriginalName || video.episode.Name}}</li>
      </ol>
    </div>
    <div class="col-sm-12">
      <div id="player"></div>
    </div>
  </div>
</div>
